body{
  background-color: #FFFafa;
}

.mainContainer{
  background-color: rgb(0,0,0,);
  height: 700px;
  width: 700px;
  border-radius: 50%;
  z-index: +3;
  margin-left: 250px;
  padding: 20px;
  border: 50px solid #B0C4DE;
}

.name img {
  height: 270px;
  width: 270px;
  border-radius: 50%;
  z-index: +2;
  position: absolute;
  margin-left: 545px;
  top: 283px;
  background-color: #FFE4C4;
  }



.projects{
  background-color: #dc143c;
  margin-bottom: 100px;
  height: 550px;
  width: 420px;
  position: absolute;
  z-index: -2;
  top: 275px;
  margin-left: 280px;
  margin-top: -250px;
  clip-path: polygon(40% 10%, 200% 0%, 82% 100%, 0% 100%, 10% 35%);
  animation-name: projects;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes projects {
  0% {background-color: #dc143c;}
  20% {background-color: #ffd700;}
  20.05% {background-color: #ffd700;}
  40% {background-color: #8b008b;}
  40.05% {background-color: #8b008b;}
  60% {background-color: #ff8c00;}
  60.05% {background-color: #ff8c00;}
  80% {background-color: #008b8b;}
  80.05% {background-color: #008b8b;}
  100% {background-color: #dc143c;}

}

.contacts{
  background-color: #ffd700;
  height: 420px;
  width: 390px;
  position: absolute;
  z-index: -2;
  margin-left: 691px;
  margin-top: -895px;
  clip-path: polygon(-10% 10%, 55% 30%, 105% 100%, 10% 115%, 1% 80%);
  animation-name: contacts;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  }
    @keyframes contacts {
    0% {background-color: #ffd700;}
    20% {background-color: #8b008b;}
    20.05% {background-color: #8b008b;}
    40% {background-color: #ff8c00;}
    40.05% {background-color: #ff8c00;}
    60% {background-color: #008b8b;}
    60.05% {background-color: #008b8b;}
    80% {background-color: #dc143c;}
    80.05% {background-color: #dc143c;}
    100% {background-color: #ffd700;}

  }

.resume{
  background-color: #8b008b;
  height: 420px;
  width: 340px;
  z-index: -1;
  position: absolute;
  margin-left: 700px;
  margin-top: -640px;
  clip-path: polygon(30% 30%, 200% -5%, 80% 97%, 0% 100%, 0% 33%);
  animation-name: resume;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
  @keyframes  resume{
    0% {background-color: #8b008b;}
    20% {background-color: #ff8c00;}
    20.05% {background-color: #ff8c00;}
    40% {background-color: #008b8b;}
    40.05% {background-color: #008b8b;}
    60% {background-color: #dc143c;}
    60.05% {background-color: #dc143c;}
    80% {background-color: #ffd700;}
    80.05% {background-color: #ffd700;}
    100% {background-color: #8b008b;}

  }


.blog{
  background-color: #ff8c00;
  height: 475px;
  width: 366px;
  position: absolute;
  z-index: -1;
  margin-left: 633px;
  margin-top: -516px;
  clip-path: polygon(25% 20%, 120% 65%, 70% 82%, 15% 100%, 10% 0%);
  animation-name: blog;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  }
  @keyframes blog {
    0% {background-color: #ff8c00;}
    20% {background-color: #008b8b;}
    20.05% {background-color: #008b8b;}
    40% {background-color: #dc143c;}
    40.05% {background-color: #dc143c;}
    60% {background-color: #ffd700;}
    60.05% {background-color: #ffd700;}
    80% {background-color: #8b008b;}
    80.05% {background-color: #8b008b;}
    100% {background-color: #ff8c00;}

  }

.aboutMe{
  background-color: #008b8b;
  height: 400px;
  width: 520px;
  position: absolute;
  z-index: -2;
  top: 275px;
  margin-left: 320px;
  margin-top: 175px;
  clip-path: polygon(-10% 33%, 60% 0%, 90% 90%, 40% 90%, 0% 50%);
  animation-name: aboutMe;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes aboutMe {
  0% {background-color: #008b8b;}
  20% {background-color: #dc143c;}
  20.05% {background-color: #dc143c;}
  40% {background-color: #ffd700;}
  40.05% {background-color: #ffd700;}
  60% {background-color: #8b008b;}
  60.05% {background-color: #8b008b;}
  80% {background-color: #ff8c00;}
  80.05% {background-color: #ff8c00;}
  100% {background-color: #008b8b;}
}

#projects{
  font-size: 50px;
  margin-bottom: 100px;
  height: 450px;
  width: 420px;
  position: absolute;
  margin-left: 394px;
  z-index: +2;
  top: 213px;
}
#contacts{
  font-size: 50px;
  height: 420px;
  width: 390px;
  position: absolute;
  z-index: +2;
  margin-left: 743px;
  margin-top: -694px;
}
#resume{
  font-size: 50px;
  height: 420px;
  width: 390px;
  position: absolute;
  z-index: +2;
    margin-left: 850px;
    margin-top: -469px;
}
#blog{
  font-size: 50px;
  height: 475px;
  width: 366px;
  position: absolute;
  z-index: +2;
    margin-left: 756px;
    margin-top: -269px;
}
#aboutMe{
  font-size: 50px;
  height: 400px;
  width: 520px;
  position: absolute;
  z-index: +2;
  top: 275px;
    margin-left: 429px;
    margin-top: 316px;
}

